@import url('https://fonts.googleapis.com/css?family=VT323');

img.floatRight { 
  	position: fixed;
  	top: 50px;
  	right: 50px;
  	width: 100px;
  	padding: 5px;
}

body {
	background: #f3ccff;
	font-family: 'VT323', monospace;
}

textarea {
	width: 100%;
	height: 150px;
	font-size: .9em;
	font-family: 'VT323', monospace;
	color: #9b42f4;
}

h1 {
	color: #9b42f4;
}

h2 {
	color: #9b42f4;
}

h3 {
	color: #9b42f4;
}

a {
	color: #9b42f4;
}

.main {
	background: #f3ccff;
	padding: 2em;
	

}